<!DOCTYPE html>
<!--[if IE 9]> <html lang="ja" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="ja">
<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>JavelinStudio</title>
		<meta name="description" content="JavelinStudio">
		<meta name="author" content="Javel">
		<!-- Mobile Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Favicon -->
		<link rel="shortcut icon" href="/images/favicon.ico">

		<!-- Web Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,300&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>

		<!-- Bootstrap core CSS -->
		<link href="/bootstrap/css/bootstrap.css" rel="stylesheet">

		<!-- Font Awesome CSS -->
		<link href="/fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

		<!-- Plugins -->
		<link href="/css/animations.css" rel="stylesheet">

		<!-- Worthy core CSS file -->
		<link href="/css/style.css" rel="stylesheet">

		<!-- Custom css --> 
		<link href="/css/custom.css" rel="stylesheet">

    <style type="text/css">
<!--
.container{
    padding-right: 45px;
}
.jshome-content{
    padding: 1em;
}
.jshome-hr{
    border-top:solid #ddd 2px;
    height:0px;
    margin:1em 0;
}

-->
    </style>
	<script type="text/javascript">
<!--
function doUnity(aTarget){
    window.open(aTarget,
        "pop",
        "width=1024, height=680, menubar=no, toolbar=no, location=no, status=no, resizable=no, scrollbars=no");
}
-->
    </script>
	</head>

	<body class="no-trans">
		<!-- scrollToTop -->
		<!-- ================ -->
		<div class="scrollToTop"><i class="icon-up-open-big"></i></div>

		<!-- header start -->
		<!-- ================ --> 
		<header class="header fixed clearfix navbar navbar-fixed-top">
			<div class="container">
				<div class="row">
					<div class="col-md-4">

						<!-- header-left start -->
						<!-- ================ -->
						<div class="header-left clearfix">

							<!-- logo -->
							<div class="logo smooth-scroll">
								<a href="#banner"><img id="logo" src="/images/logo.png" alt="Worthy"></a>
							</div>

							<!-- name-and-slogan -->
							<div class="site-name-and-slogan smooth-scroll">
								<div class="site-name"><a href="#banner">JavelinStudio</a></div>
								<div class="site-slogan">今までもこれからもずっと、作ったもの置き場。<br>herkokuにNode.jsでbootstlap</div>
							</div>

						</div>
						<!-- header-left end -->

					</div>
					<div class="col-md-8">

						<!-- header-right start -->
						<!-- ================ -->
						<div class="header-right clearfix">

							<!-- main-navigation start -->
							<!-- ================ -->
							<div class="main-navigation animated">

								<!-- navbar start -->
								<!-- ================ -->
								<nav class="navbar navbar-default" role="navigation">
									<div class="container-fluid">

										<!-- Toggle get grouped for better mobile display -->
										<div class="navbar-header">
											<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
												<span class="sr-only">Toggle navigation</span>
												<span class="icon-bar"></span>
												<span class="icon-bar"></span>
												<span class="icon-bar"></span>
											</button>
										</div>

										<!-- Collect the nav links, forms, and other content for toggling -->
										<div class="collapse navbar-collapse scrollspy smooth-scroll" id="navbar-collapse-1">
											<ul class="nav navbar-nav navbar-right">
												<li class="active"><a href="#banner">とっぷ</a></li>
												<li><a href="#info">ついった</a></li>
												<li><a href="#program">ぷろぐらむ</a></li>
												<li><a href="#dtm">でーてーむ</a></li>
												<li><a href="#cg">いらすと</a></li>
												<li><a href="#other">そのた</a></li>
											</ul>
										</div>

									</div>
								</nav>
								<!-- navbar end -->

							</div>
							<!-- main-navigation end -->

						</div>
						<!-- header-right end -->

					</div>
				</div>
			</div>
		</header>
		<!-- header end -->

		<!-- banner start -->
		<!-- ================ -->
		<div id="banner" class="banner">
			<div class="banner-image"></div>
			<div class="banner-caption">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 object-non-visible" data-animation-effect="fadeIn">
							ばなー<br>
							<img class="banner" src="./banner.jpg" data-mce-src="banner.jpg" style="width:100%">
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- banner end -->

		<!-- section start -->
		<!-- ================ -->
		<div class="section clearfix object-non-visible" data-animation-effect="fadeIn">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h3 id="info">ついったー</h3>
						<a class="twitter-timeline" href="https://twitter.com/Javel_">Tweets by Javel</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
					</div>
				</div>
			</div>
		</div>
		<!-- section end -->

		<!-- section start -->
		<!-- ================ -->
		<div class="section translucent-bg bg-image-1 blue">
			<div class="container object-non-visible" data-animation-effect="fadeIn">
				<h3 id="program">ぷろぐらむ</h3>
              <div class="jshome-content">
<p>
・ポインタの主な使い道
<br>
<div>
<script src="http://ideone.com/e.js/mMh7nP" type="text/javascript" ></script>
<input class="btn btn-default" value="GO" onClick="window.open('https://shar.es/1ri858');"></input>
</div>
:2015/05/23
</p>
              <div class="jshome-hr"></div>
<p>
・Unity習作
<img src="SS/SKS.png" class="img-responsive">
<br>
爆発以外の絵素材はほにゃーにやってもらった。
その他は全部Unityのチュートリアル素材。
<br>
<input class="btn btn-default" value="開く" onClick="doUnity('https://dl.dropboxusercontent.com/u/7158135/stg/stg.html');"></input>
<br>
:2015/05/02
</p>
              <div class="jshome-hr"></div>
<p>
・ゲームループ組み込み用 疑似setInterval / setTimeout
<br>
<div>
<script src="http://ideone.com/e.js/ZsR9rB" type="text/javascript" ></script>
<input class="btn btn-default" value="GO" onClick="window.open('http://ideone.com/ZsR9rB');"></input>
</div>
:2014/10/30
</p>
              <div class="jshome-hr"></div>
<p>
・テキストボックス調査
<br>
<div>
<script type="text/javascript" src="http://jsdo.it/blogparts/slJh/js?width=300&height=250&view=play"></script>
</div>
:2013/09/06
</p>
              <div class="jshome-hr"></div>
<p>
・ユニット配置パズルゲー試作品
<br>
<a onClick="window.open('http://sdrv.ms/1ay9MlF'); return null;">
<img src="SS/ss.PNG" class="img-responsive">
Proto3rd.zip
</a>
<br>
:2011/11/16
</p>
              <div class="jshome-hr"></div>
<p>
・ToneTargetMatrix
<br>
<a onClick="window.open('http://sdrv.ms/1ay9MlF'); return null;">
<img src="SS/TTM.png" class="img-responsive">
ToneTargetmatriX.zip
</a>
<br>
:2010/10/22
</p>
              <div class="jshome-hr"></div>
<p>
・しまうま
<br>
<a onClick="window.open('http://sdrv.ms/1ay9MlF'); return null;">
<img src="SS/SHI.png"  class="img-responsive">
Shmauma.rar
</a>
<br>
:2008/10/10
</p>
              </div><!-- end of jshome-content -->


			</div>
		</div>
		<!-- section end -->

		<!-- section start -->
		<!-- ================ -->
		<div class="section">
			<div class="container">
				<h3 id="dtm">でーてーむ</h3>
<iframe width="100%" height="680" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/4554133&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
			</div>
		</div>
		<!-- section end -->

		<!-- section start -->
		<!-- ================ -->
		<div class="section translucent-bg bg-image-2 pb-clear">
			<div class="container object-non-visible" data-animation-effect="fadeIn">
				<h3 id="cg">いらすと</h3>
              <div class="jshome-content">
<!-- ★30ドットその５ -->
<script src="http://source.pixiv.net/source/embed.js" data-id="49018089_252a31f25cc5aef98c7db654d0e9bdc6" data-size="medium" data-border="off" charset="utf-8"></script><noscript><p><a href="http://www.pixiv.net/member_illust.php?mode=medium&amp;illust_id=49018089" target="_blank">30ドットその５</a> by <a href="http://www.pixiv.net/member.php?id=1066624" target="_blank">Javel</a> on <a href="http://www.pixiv.net/" target="_blank">pixiv</a></p></noscript>
:2013/02/05
              <div class="jshome-hr"></div>
<!-- ★30ドットその４ -->
<script src="http://source.pixiv.net/source/embed.js" data-id="49018069_9f93641ec2e200474ff79c15cd64bc34" data-size="medium" data-border="off" charset="utf-8"></script><noscript><p><a href="http://www.pixiv.net/member_illust.php?mode=medium&amp;illust_id=49018069" target="_blank">30ドットその４</a> by <a href="http://www.pixiv.net/member.php?id=1066624" target="_blank">Javel</a> on <a href="http://www.pixiv.net/" target="_blank">pixiv</a></p></noscript>
:2013/02/03
              <div class="jshome-hr"></div>
<!-- ★30ドットその３ -->
<script src="http://source.pixiv.net/source/embed.js" data-id="49018015_cd455dbc43a4aadb1b7c163903db89cc" data-size="medium" data-border="off" charset="utf-8"></script><noscript><p><a href="http://www.pixiv.net/member_illust.php?mode=medium&amp;illust_id=49018015" target="_blank">30ドットその３</a> by <a href="http://www.pixiv.net/member.php?id=1066624" target="_blank">Javel</a> on <a href="http://www.pixiv.net/" target="_blank">pixiv</a></p></noscript>
:2013/01/31
              <div class="jshome-hr"></div>
<!-- ★30ドットその２ -->
<script src="http://source.pixiv.net/source/embed.js" data-id="49017969_53b121b1056adcd54522c0e9aab8ec10" data-size="medium" data-border="off" charset="utf-8"></script><noscript><p><a href="http://www.pixiv.net/member_illust.php?mode=medium&amp;illust_id=49017969" target="_blank">30ドットその２</a> by <a href="http://www.pixiv.net/member.php?id=1066624" target="_blank">Javel</a> on <a href="http://www.pixiv.net/" target="_blank">pixiv</a></p></noscript>
:2013/01/30
              <div class="jshome-hr"></div>
<!-- ★30ドットその１ -->
<script src="http://source.pixiv.net/source/embed.js" data-id="49017927_ec7fe73996552c4bcbd31e6834e54e9b" data-size="medium" data-border="off" charset="utf-8"></script><noscript><p><a href="http://www.pixiv.net/member_illust.php?mode=medium&amp;illust_id=49017927" target="_blank">30ドットその１</a> by <a href="http://www.pixiv.net/member.php?id=1066624" target="_blank">Javel</a> on <a href="http://www.pixiv.net/" target="_blank">pixiv</a></p></noscript>
:2013/01/29
              <div class="jshome-hr"></div>
<!-- ★コペルニクスの天動説 -->
<script src="http://source.pixiv.net/source/embed.js" data-id="24227606_9671fd0a94430cb1d097143aba1a2557" data-size="medium" data-border="off" charset="utf-8"></script><noscript><p><a href="http://www.pixiv.net/member_illust.php?mode=medium&amp;illust_id=24227606" target="_blank">プトレマイオスの天動説</a> by <a href="http://www.pixiv.net/member.php?id=1066624" target="_blank">Javel</a> on <a href="http://www.pixiv.net/" target="_blank">pixiv</a></p></noscript>
:2008/02/27
              <div class="jshome-hr"></div>
<!-- ★原初科学の見た夢は -->
<script src="http://source.pixiv.net/source/embed.js" data-id="24228103_33e2a0f207b80808728f4997e3663378" data-size="medium" data-border="off" charset="utf-8"></script><noscript><p><a href="http://www.pixiv.net/member_illust.php?mode=medium&amp;illust_id=24228103" target="_blank">原初科学の見た夢は</a> by <a href="http://www.pixiv.net/member.php?id=1066624" target="_blank">Javel</a> on <a href="http://www.pixiv.net/" target="_blank">pixiv</a></p></noscript>
:2008/02/01
              <div class="jshome-hr"></div>
<!-- ★みらいののりもの -->
<script src="http://source.pixiv.net/source/embed.js" data-id="24229092_339fdf251521c756f26d813726f8455d" data-size="medium" data-border="off" charset="utf-8"></script><noscript><p><a href="http://www.pixiv.net/member_illust.php?mode=medium&amp;illust_id=24229092" target="_blank">みらいののりもの</a> by <a href="http://www.pixiv.net/member.php?id=1066624" target="_blank">Javel</a> on <a href="http://www.pixiv.net/" target="_blank">pixiv</a></p></noscript>
:2007...
              <div class="jshome-hr"></div>
<!-- ★ろぼっと -->
<script src="http://source.pixiv.net/source/embed.js" data-id="24228498_c45391ad676166462415556f4f570f94" data-size="medium" data-border="off" charset="utf-8"></script><noscript><p><a href="http://www.pixiv.net/member_illust.php?mode=medium&amp;illust_id=24228498" target="_blank">ろぼっと</a> by <a href="http://www.pixiv.net/member.php?id=1066624" target="_blank">Javel</a> on <a href="http://www.pixiv.net/" target="_blank">pixiv</a></p></noscript>
:2007...
              </div><!-- end of jshome-content -->
				</div>
			</div>
			<!-- section end -->
		</div>
		<!-- section end -->

		<!-- section start -->
		<!-- ================ -->
		<div class="default-bg space">
			<div class="container">
				<h3 id="other">そのた</h3>
              <div class="jshome-content">
なんともジャンル分けしにくいもの<br><br>

<!-- ★まふゆちゃん -->
<a class="btn btn-primary" href="http://mafuyu-puripara.tumblr.com/">まふゆちゃん＠プリパラ</a><br>
:2014/03/25-
              <div class="jshome-hr"></div>
<!--★過去デザイン２-->
<a class="btn btn-primary" href="./OLD/oldDesign2/index.html">過去デザイン２</a><br>
:2013/02/17-2015/02/28
              <div class="jshome-hr"></div>
<!--★過去デザイン１-->
<a class="btn btn-primary" href="./OLD/oldDesign1/index.htm">過去デザイン１</a><br>
:2011/07/09-2013/02/17
              <div class="jshome-hr"></div>
<!-- ★ビーズ３ -->
<iframe src="https://onedrive.live.com/embed?cid=E3E589B3147DB2FE&resid=E3E589B3147DB2FE%21220&authkey=ABmtk-DPnfJQYYQ" width="320" height="261" frameborder="0" scrolling="no"></iframe>
:2013/01/11
              <div class="jshome-hr"></div>
<!-- ★ビーズ２ -->
<iframe src="https://onedrive.live.com/embed?cid=E3E589B3147DB2FE&resid=E3E589B3147DB2FE%21221&authkey=ANKXzybQj0InPlc" width="320" height="300" frameborder="0" scrolling="no"></iframe>
:2013/01/03
              <div class="jshome-hr"></div>
<!-- ★ビーズ１ -->
<iframe src="https://onedrive.live.com/embed?cid=E3E589B3147DB2FE&resid=E3E589B3147DB2FE%21222&authkey=AEjGKmOBhgXmw-o" width="320" height="191" frameborder="0" scrolling="no"></iframe>
:2012/12/23

              </div><!-- end of jshome-content -->

			</div>
		</div>
		<!-- section end -->

		<!-- footer start -->
		<!-- ================ -->
		<footer id="footer">
			<!-- .subfooter start -->
			<!-- ================ -->
			<div class="subfooter">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<p class="text-center">Copyright (C) 2011-2015 Javel All Rights Reserved.</p>
							<p class="text-center">Copyright © 2014 Worthy by <a target="_blank" href="http://htmlcoder.me">HtmlCoder</a>.</p>
							<p class="text-center">That use <a href="http://getbootstrap.com/">Bootstrap</a>, Node.js on express</p>
						</div>
					</div>
				</div>
			</div>
			<!-- .subfooter end -->

		</footer>
		<!-- footer end -->

		<!-- JavaScript files placed at the end of the document so the pages load faster
		================================================== -->
		<!-- Jquery and Bootstap core js files -->
		<script type="text/javascript" src="plugins/jquery.min.js"></script>
		<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>

		<!-- Modernizr javascript -->
		<script type="text/javascript" src="plugins/modernizr.js"></script>

		<!-- Isotope javascript -->
		<script type="text/javascript" src="plugins/isotope/isotope.pkgd.min.js"></script>
		
		<!-- Backstretch javascript -->
		<script type="text/javascript" src="plugins/jquery.backstretch.min.js"></script>

		<!-- Appear javascript -->
		<script type="text/javascript" src="plugins/jquery.appear.js"></script>

		<!-- Initialization of Plugins -->
		<script type="text/javascript" src="js/template.js"></script>

		<!-- Custom Scripts -->
		<script type="text/javascript" src="js/custom.js"></script>

	</body>
</html>
